<%- include('partials/header') %>


<!-- Current projects tab -->

<div class="logoutButton">
  <button type="button" class="btn btn-light"><a href="/logout">Logout</a></button>
</div>

<div class="projects">

  <%userData.forEach(function(project, i){%>
  <div class="project col-4" id='project<%=project.id%>'>
    <div class="projectHeader">
      <div class="projectTitle">
        <span>
          <a data-toggle="modal" data-target="#editDeadLineModal">
            <i data-id="<%=project.id%>" class="projectDeadline far fa-calendar-alt fa-2x" data-toggle="tooltip" data-placement="top" title="Set Deadline"></i>
          </a>
        </span>
        <%if(project.deadline == null){%>
        <h5 class="projectName <%=project.id%>" data-toggle="tooltip" data-placement="top" title="">
          <%=project.name%>
        </h5>
        <%}else{%>
        <% var deadline = project.deadline.toDateString()%>
        <h5 class=" projectName <%=project.id%>" data-toggle="tooltip" data-placement="top" title="Deadline: <%=deadline%>">
          <%=project.name%>
        </h5>
        <%}%>
      <div class="projectButtons">
        <span data-toggle="tooltip" data-placement="top" title="Edit Project Title">
          <a data-toggle="modal" data-target="#editProjectTitleModal">
      <i id="editProjectName" class="editProject fas fa-pencil-alt" data-name="<%=project.name%>" data-id="<%=project.id%>"></i>
        </a>
        </span>

        <i class="separatorDash fas fa-minus"></i>

        <span data-toggle="tooltip" data-placement="top" title="Delete Project">
          <a data-toggle="modal" data-target="#deleteProjectModal">
            <i id="deleteProject>" class="deleteProject far fa-trash-alt" data-id="<%=project.id%>"></i>
          </a>
        </span>
      </div>
    </div>
  </div>




  <!-- New task Input Tab -->
  <form class="" action="" method="">
    <div class="inputTab">
      <div class="plusButton fas fa-plus"></div>
      <input id="inputNewTask<%=project.id%>" data-toggle="tooltip" data-placement="top" title="Please enter 1 to 50 characters" data-description="data-description" class="inputField" minlength="1" maxlength="50" pattern="[A-Za-z].{1-50}"
        autocomplete="off" name="taskDescription" value="" type="text" placeholder="  Start typing here to create a task..." required>
      <button id="addButton <%=project.id%>" data-id="<%=project.id %>" class="addButton" type="submit" value="Submit">
        <p>Add task</p>
      </button>
    </div>
  </form>



  <!-- Current tasks in the ToDoList -->
  <div class="taskList" id="taskList<%=project.id%>">
    <% userData[i].tasks.forEach(function(task){%>
    <%if(task.t_deadline === null || task.completed === true ){%>
    <div class="taskRow" id="taskRow<%=task.id%>" data-toggle="tooltip" data-placement="bottom" title="">
      <%}else{%>
      <% var taskDeadline = task.t_deadline.toDateString();%>
      <div class="taskRow" id="taskRow<%=task.id%>" data-toggle="tooltip" data-placement="bottom" title="DeadLine <%= taskDeadline %>">
        <%}%>

    <div class="doneMark">
      <span >
        <% if(task.completed===true){%>
        <input id="doneMark <%= task.id%>" data-priority='<%- task.priority%>' type="checkbox" data-id="<%= task.id%>" data-completion="<%= task.completed%>" name="doneTaskMark" checked>
        <%}else{%>
        <input id="doneMark <%= task.id%>" data-priority='<%= task.priority%>' type="checkbox" data-id="<%= task.id%>" data-completion="<%= task.completed%>" name="doneTaskMark">
        <%}%>
        </span>
      </div>

      <div class="separator"></div>

      <!-- Task description -->
        <% if(task.completed===true){ %>
        <div class="taskDescription <%= task.id%> done" id="taskDescription<%= task.id%>">
          <span id="task<%= task.id%>"> <%= task.name%> </span>
        </div>

        <%} else {%>
        <div class="taskDescription <%= task.id%>" id="taskDescription<%= task.id%>">
          <% if(task.priority == 4){%>
          <img id="imgSpan<%= task.id%>" class="imgSpan" src="images/priority4.png" alt="Img">
          <%}else if(task.priority == 3){%>
          <img id="imgSpan<%= task.id%>" class="imgSpan" src="images/priority3.png" alt="Img">
          <%}else if(task.priority == 2){%>
          <img id="imgSpan<%= task.id%>" class="imgSpan" src="images/priority2.png" alt="Img">
          <%}else if(task.priority == 1){%>
          <img id="imgSpan<%= task.id%>" class="imgSpan" src="images/priority1.png" alt="Img">
          <%}%>
          <span id="task<%= task.id%>">
          <%= task.name%>
          </span>
        </div>
        <%}%>



      <!-- Task options -->
      <div class="taskOptions">

          <a class="dropdown" id="dropdownMenuButton<%= task.id%>" data-id="<%= task.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <i data-toggle="tooltip" data-placement="left" title="Set Priority" class="setTaskPriority fas fa-sort" data-id="<%= task.id%>" data-priority="<%= task.priority%>"></i>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item priority<%= task.id%>" style="color: red;" data-value="4">Urgent</a>
          <a class="dropdown-item priority<%= task.id%>" style="color: orange;" data-value='3'>High</a>
          <a class="dropdown-item priority<%= task.id%>" style="color: blue;" data-value='2'>Normal</a>
          <a class="dropdown-item priority<%= task.id%>" style="color: grey;" data-value='1'>Low</a>
        </div>
        </a>


        <i class="separatorDash fas fa-minus"></i>

        <span data-toggle="tooltip" data-placement="left" title="Edit task">
          <i id="editTask <%= task.id%>" class="editTask fas fa-pencil-alt" data-id="<%= task.id%>" data-description="<%= task.name%>" data-toggle="modal" data-target="#editTaskModal"></i>
        </span>

        <i class="separatorDash fas fa-minus"></i>

        <a data-toggle="modal" data-target="#deleteTaskModal">
          <i data-toggle="tooltip" data-placement="left" title="Delete task" class="deleteTask fas fa-trash-alt" data-id="<%= task.id%>"></i>
        </a>

      </div>
    </div>


    <%})%>
  </div>
</div>

<%})%>
</div>
</div>

<%- include('partials/footer') %>
<%- include('partials/modals') %>
