<%- include('partials/header') %>


<!-- Current project tab -->

<div class="logoutButton">
  <button type="button" class="btn btn-light"><a href="/logout">Logout</a></button>
</div>
<%if(userData !== null){%>
<%userData.forEach(function(project, i){%>
<div class="project" id='project <%=project.id%>'>
  <div class="projectHeader">
    <div class="projectTitle">
      <span>
        <a data-toggle="modal" data-target="#editDeadLineModal">
          <i id="setListDeadline" data-id="<%=project.id%>" class="far fa-calendar-alt fa-2x" data-toggle="tooltip" data-placement="top" title="Set Deadline"></i>
        </a>
      </span>
      <%if(project.deadline == null){%>
      <h5 id="projectTitle <%=project.id%>" class="projectName"><%=project.name%></h5>
      <%}else{%>
      <% var deadline = project.deadline.toDateString()%>
      <h5 id="projectTitle <%=project.id%>" data-toggle="tooltip" data-placement="top" title="Deadline <%=deadline%>" style="align-items: center;" class="projectName">
        <%=project.name%>
      </h5>
      <%}%>
      <div class="projectButtons">
        <span data-toggle="tooltip" data-placement="top" title="Edit Project Title">
          <a data-toggle="modal" data-target="#editProjectTitleModal">
            <i id="editProjectName" class="editProject fas fa-pencil-alt" data-name="<%=project.name%>" data-id="<%=project.id%>"></i>
      </a>
      </span>
      <i class="separatorDash fas fa-minus"></i>
      <span data-toggle="tooltip" data-placement="top" title="Delete Project">
        <a data-toggle="modal" data-target="#deleteProjectModal">
          <i id="deleteProject" class="deleteProject far fa-trash-alt" data-id="<%=project.id%>"></i>
        </a>
      </span>
    </div>
  </div>
</div>
<!-- New task Input Tab -->
<form class="" action="" method="">
  <div class="inputTab">
    <div class="plusButton fas fa-plus"></div>
    <input id="inputNewTask<%=project.id%>" data-description="data-description" class="inputField" minlength="3" maxlength="50" pattern="[A-Za-z]{3-50}" title="Please enter 3 to 50 characters" autocomplete="off" name="taskDescription" value=""
      type="text" placeholder="  Start typing here to create a task..." required>
    <button id="addButton" data-id="<%=project.id %>" class="addButton" type="submit" value="Submit">
      <p>Add task</p>
    </button>
  </div>
</form>
<!-- Current tasks in the ToDoList -->
<div class="taskList">
  <% userData[i].tasks.forEach(function(task){%>
  <%if(task.t_deadline === null || task.completed === true ){%>
  <div class="taskRow" id="taskRow <%=task.id%>">
    <%}else{%>
    <% var taskDeadline = task.t_deadline.toDateString();%>
    <div class="taskRow" id="taskRow <%=task.id%>" data-toggle="tooltip" data-placement="bottom" title="DeadLine <%= taskDeadline %>">
      <%}%>
    <div class="doneMark">
      <span data-toggle="tooltip" data-placement="bottom" title="Mark as Done">
        <% if(task.completed===true){%>
      <input id="doneMark <%= task.id%>" type="checkbox" data-id="<%= task.id%>" data-completion="<%= task.completed%>" name="doneTaskMark" checked>
      <%}else{%>
      <input id="doneMark <%= task.id%>" type="checkbox" data-id="<%= task.id%>" data-completion="<%= task.completed%>" name="doneTaskMark">
      <%}%>
        </span>
      </div>
      <div class="separator"></div>
      <!-- Task description -->
        <% if(task.completed===true){ %>
      <div class="taskDescription <%= task.id%> thick">
        <span id="task<%= task.id%>"><%= task.name%></span>
      </div>
      <%} else {%>
      <div class="taskDescription <%= task.id%>">
        <% if(task.priority == 4){%>
        <span style="margin-right: 5px" data-toggle="tooltip" data-placement="bottom" title="Urgent">
          <img width="20" src="images/priority4.png" alt="P4">
        </span>
        <%}else if(task.priority == 3){%>
        <span style="margin-right: 5px" data-toggle="tooltip" data-placement="bottom" title="High">
          <img styl width="20" src="images/priority3.png" alt="P3">
        </span>
        <%}else if(task.priority == 2){%>
        <span style="margin-right: 5px" data-toggle="tooltip" data-placement="bottom" title="Normal">
          <img width="20" src="images/priority2.png" alt="P2">
        </span>
        <%}else if(task.priority == 1){%>
        <span style="margin-right: 5px" data-toggle="tooltip" data-placement="bottom" title="Low">
          <img width="20" src="images/priority1.png" alt="P1">
        </span>
        <%}%>
          <span id="task<%= task.id%>"><%= task.name%></span>
      </div>
      <%}%>
      <!-- Task options -->
      <div class="taskOptions">
        <span data-toggle="tooltip" data-placement="bottom" title="Set Priority">
          <a data-toggle="modal" data-target="#setPriorityModal">
            <i class="setTaskPriority fas fa-sort" data-id="<%= task.id%>" data-priority="<%= task.priority%>"></i>
      </a>
      </span>
      <i class="separatorDash fas fa-minus"></i>
      <span data-toggle="tooltip" data-placement="bottom" title="Edit task">
        <a data-toggle="modal" data-target="#editTaskModal">
          <i id="editTask" class="editTask fas fa-pencil-alt" data-id="<%= task.id%>" data-description="<%= task.name%>"></i>
        </a>
      </span>
      <i class="separatorDash fas fa-minus"></i>
      <span data-toggle="tooltip" data-placement="bottom" title="Delete task">
        <a data-toggle="modal" data-target="#deleteTaskModal">
          <i class="deleteTask fas fa-trash-alt" data-id="<%= task.id%>"></i>
        </a>
      </span>
    </div>
  </div>
  <%})%>
  <%- include('partials/modals') %>
  <%})%>
  <%- include('partials/footer') %>
  <%}%>
<%- include('partials/modals') %>
